<html>
   <head>
         <link href="css/style.css" rel="stylesheet">

      <link href="css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
   <div id="container">
        <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
			   
               <a  class="navbar-brand" href="#">FossEvents<sup><b>IN<b></sup></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
	  <div id="body">
	  <div class="col-md-offset-3 col-md-6">

<div class="panel panel-default">
  <div class="panel-heading">
     
                  
                     
                     <div class="info">
                        <h2 class="title">PYCON India 2015</h2>
                        <span class="desc">April 23rd,9am-6pm(Mon)</span>
                        <p class="desc">23,Nimhans,Bangalore-190001</p>
                     </div>
                   <div class="info">
                        
                        <span class="desc">Contact Person:Saurabh Kumar</span>
                        <p>
						<a href="#"><i class="fa fa-envelope-o "></i></a>&nbsp;
  <a href="#"><i class="fa fa-share "></i></a>&nbsp;
  <a href="#"><i class="fa fa-mobile "></i></a>&nbsp;
  </p>
                     </div>
                  
              

  
  </div>
  <div class="panel-body">
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida hendrerit rhoncus. 
	Suspendisse dignissim sagittis nibh ut sagittis. Fusce eu bibendum metus. 
	Phasellus pellentesque nec lectus non volutpat. 

	Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In tortor urna, tincidunt ac sagittis vitae, pulvinar sit amet nunc. Sed metus dolor, feugiat vitae sapien non, semper ultricies odio. 
	Mauris interdum lacus non enim pretium, ac accumsan augue scelerisque.</p>
	<p>
	<h4>Topic</h4>
	<ul>
	<li>Mauris interdum lacus non enim pretium, ac accumsan augue scelerisque.</li>
		<li>Mauris interdum lacus non enim pretium, ac accumsan augue scelerisque.</li>
	<li>Mauris interdum lacus non enim pretium, ac accumsan augue scelerisque.</li>
</ul>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida hendrerit rhoncus. 
	Suspendisse dignissim sagittis nibh ut sagittis. Fusce eu bibendum metus. </p>
	Suspendisse dignissim sagittis nibh ut sagittis. Fusce eu bibendum metus. </p>
  </div>
</div></div></div>
<div id="footer">
   
         <div class="container-fluid">
            <p class="navbar-text pull-left">© 2015 - FossEvents.in
            </p>
            <p class="navbar-text pull-right">
               | <a href="#">About</a> 
               |  <a href="#">Developers</a>
               |  <a href="#">Privacy</a>
               |  <a href="#">Report an abuse</a>
            </p>
         </div>
      </div>
	  </div>
	 
   </body>
</html>