{% extends "base.html" %}
{% load to_domain from strings %}
{% block body_classes %}{{block.super}} page--home {% endblock body_classes %}
{% block content %}
{% if events %}
    <div class="event--list">
        {% for event in events %}
        <a class="event card-panel" href="{{ event.get_absolute_url }}">
            <h2 class='event--header'>{{ event.name }}</h2>
            <p class="event--date"> {{ event.date }} </p>
            <p class="event--url"> {{ event.homepage|to_domain }} </p>
        </a>
        {% endfor %}
    </div>
{% else %}
    {% if upcoming_events %}
        <div class="event-list-header">
            <h3>Upcoming Events</h3>
        </div>
        <div class="event--list">
            {% for event in upcoming_events %}
            <a class="event card-panel" href="{{ event.get_absolute_url }}">
                <h2 class='event--header'>{{ event.name }}</h2>
                <p class="event--date"> {{ event.date }} </p>
                <p class="event--url"> {{ event.homepage|to_domain }} </p>
            </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if past_events %}
        <div class="event-list-header">
            <h3>Past Events</h3>
        </div>
        <div class="event--list">
            {% for event in past_events %}
            <a class="event card-panel" href="{{ event.get_absolute_url }}">
                <h2 class='event--header'>{{ event.name }}</h2>
                <p class="event--date"> {{ event.date }} </p>
                <p class="event--url"> {{ event.homepage|to_domain }} </p>
            </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% endblock content %}
