.event--list {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;

    .event{
        text-decoration: none;
        color: #111;
        width: 330px;
        margin: 0.5em;
        border-radius: 3px;
        border: 1px solid #eee;
        box-shadow: 0 1px 2px #ccffcc;
        transition: box-shadow .25s;
        padding: $card-padding;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        background-color: $card-bg-color;
        &:hover, &:focus {
            background-color: $card-bg-color-hover;
        }
        &:visited {
            color: #555;
            box-shadow: 0 0 0 #ccc;
        }
        &--header {
            margin-top: 0;
            font-size: 18px;
        }
        &--date, &--url {
            font-size: 12px;
            margin: 0.3em;
        }
    }
}
