// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 4em;
}

.site-content {
    flex: 1;
}

.site-header, .site-content, .site-footer{
    padding-left: 1em;
    padding-right: 1em;
}

.site-header {
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.99);
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 5px #ddd;

    .site-logo{
        position: absolute;
        color: $navbar-font-color;
        display: inline-block;
        font-size: $navbar-brand-font-size;
        padding: 0;
        white-space: nowrap;

        .logo {
          height:35px;
          width:70px;
        }
    }

    // Navbar Links
    ul {
      margin: 0 0 0 50px;
      list-style: none;

      li {
        transition: background-color .3s;
        float: left;
        padding: 0;

        &.active {
          background-color: $navbar-background-color;
          color: $navbar-font-color-hover;
        }
      }
      a {
        transition: background-color .3s;
        font-size: $navbar-font-size;
        color: $navbar-font-color;
        display: block;
        padding: 0 15px;
        cursor: pointer;
        text-decoration: none;

        &.btn, &.btn-large, &.btn-flat, &.btn-floating {
          margin-top: -2px;
          margin-left: 15px;
          margin-right: 15px;
        }

        &:hover {
          background-color: $button-background-focus-default;
          color: $navbar-font-color-hover;
        }
      }

      &.left {
        float: left;
      }
    }

    .pull-right {
      float: right;
      margin-left: 10px;
    }
}

.site-footer {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 12px;
    a {
        text-decoration: none;
    }
    ul{
        margin:0;
        padding: 0px;
        list-style: none;
        li {
            padding: 0px;
            margin: 0px;
            display: inline;
        }
    }
}
