// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert{
  &-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
  }
  &-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  }
  &-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &-warning {
    color: black;
    background-color: orange;
    border-color: #d6e9c6;
  }
  &-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
}

.page {
    &--home,
    &--event-create,
    &--event-detail {
      background: $background-color;
    }
}

.site--search  {
  float: right;
  padding-top: 5px;
  input {
    @include transition(width .3s ease);
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 5px;
    font-size: 0.9em;
    width: 120px;
    &:focus {
      width: 200px
    }
  }
}

.form {
  width: 500px;
  padding: 0 2em;

  .helptext {
    font-size: 0.7rem;
    color: $input-border-color;
  }

  .errorlist {
    font-size: 0.8rem;
    color: $input-error-color;
    margin-top: -1em;
    margin-left: -2em;
    width: 100%;
    list-style: none;
  }


  /* Text inputs */

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea {

    // General Styles
    background-color: transparent;
    border: none;
    border-bottom: $input-border;
    border-radius: 0;
    outline: none;
    height: $input-height;
    width: 100%;
    font-size: $input-font-size;
    margin: $input-margin;
    padding: $input-padding;
    box-shadow: none;
    box-sizing: content-box;
    transition: $input-transition;

    // Focused input style
    &:focus {
      border-bottom: 1px solid $input-focus-color;
      box-shadow: 0 1px 0 0 $input-focus-color;
    }

    // Focused label style
    &:focus+label {
      color: $input-focus-color;
    }

    // Disabled input style
    &:disabled,
    &[readonly="readonly"] {
      color: $input-disabled-color;
      border-bottom: $input-disabled-border;
    }

    // Disabled label style
    &:disabled+label,
    &[readonly="readonly"]+label {
      color: $input-disabled-color;
    }

    // Form Message Shared Styles
    & + label:after {
      display: block;
      display: inline-block;
      content: "";
      position: absolute;
      top: 60px;
      opacity: 0;
      transition: .2s opacity ease-out, .2s color ease-out;
    }
  }

  textarea {
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: .8rem 0 1.6rem 0; /* prevents text jump on Enter keypress */
    resize: none;
    min-height: $input-height;
  }

  .form-button {
    border: $button-border;
    border-radius: $button-radius;
    display: inline-block;
    height: $button-height;
    line-height: $button-height;
    outline: 0;
    padding: $button-padding;
    text-transform: uppercase;
    vertical-align: middle;
    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;

    &:focus,
    &:hover {
      outline: none;
      background-color: $button-background-focus;
      transition: .2s ease-out;
    }
  }

  &--input-field {
    position: relative;
    margin-top: 1rem;
    padding-bottom: .5rem;

    label {
      left: 0;
      color: $input-border-color;
      position: absolute;
      top: -1rem;
      font-size: 0.9rem;
      cursor: text;
      transition: .2s ease-out;
    }
  }
}

.card-panel {
  transition: box-shadow .25s;
  min-width: 50em;
  padding: $card-padding;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: $card-bg-color;
}
