{% extends "base.html" %}

{% block title %}About • {{ block.super }}{% endblock title %}

{% block content %}
    <h1>About Foss Events</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto delectus, culpa laborum iste perferendis, molestias est reiciendis quo, error eos ipsum dolore, provident eum itaque sunt atque cumque consequatur. Sapiente.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eius facere voluptates ullam labore minima eligendi sapiente laudantium doloribus. Iure pariatur in, dignissimos recusandae error maiores debitis maxime, mollitia cumque!</p>
{% endblock content %}
