{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="inner1">
        <div class="row">
            {% for event in events %}            
            <div class="[ col-md-4 ]">
			         <a href="{{ event.get_absolute_url }}" />
                  <div class="panel panel-default">
                    <div class="panel-heading">
                       <div class="info">
                        <h2 class="title">{{ event.name }}</h2>
                        <span class="desc">{{ event.start_date }}</span>
                        <p class="desc">{{ event.homepage }}</p>
                       </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
       </div>
   </div>
 </div>


{% endblock content %}
