{% extends "base.html" %}
{% load compress staticfiles %}
{% block body_classes %}{{block.super}}page--event-create{% endblock body_classes %}
{% block title %}Create Event • {{block.super}}{% endblock title %}
{% block content %}
<div class="">
    <form action="" method="post" enctype="multipart/form-data" class="form form--generic form--event-add card-panel">
        {% csrf_token %}
        {% for field in form %}
        <div class="form--input-field">
            {{ field }} {{ field.label_tag }}
            {{ field.errors }}
            {% if field.help_text %}
            <span class="helptext">{{ field.help_text|safe }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="form-button waves-effect waves-light">Save</button>
    </form>
</div>
{% endblock content %}
