{% extends "base.html" %}
{% load django_markdown %}
{% block body_classes %}{{block.super}}page--event-detail{% endblock body_classes %}
{% block title %}{{ event.name }} • {{block.super}}{% endblock title %}
{% block content %}
<div class="eventDetail" role='main'>
   <article>
      <header class="event-head">
         <h1 class="event-title">{{ event.name }}</h1>
         <p class="event-dates">{{ event.date }}</p>
         <p class="event-itemdesc">
            <a href="{{ event.homepage }}" target="blank" rel="nofollow">{{ event.homepage|cut:"http://"|cut:"https://" }}</a>
         </p>
      </header>
      <hr>
      <div class="event-content">
         <div class="event-entry">
            {{ event.description|markdown }}
         </div>
      </div>
   </article>
</div>
{% endblock content %}
